* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.header {
    background-color: #FFFFFF;
    height: 84px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.navbar-nav {
    gap: 20px;
    font-weight: 500;
    font-size: 16px;
}

.badge-custom {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #131728;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    line-height: 1;
    min-width: 18px;
    text-align: center;
    padding: 3px;
}

.icon-header a {
    position: relative;
    display: inline-flex;
    align-items: center;
}


.logo {
    font-weight: 700;
    font-size: 48px;
}

.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

/* ------------------ content --------------------*/

.container {
    max-width: 1440px;
    box-sizing: border-box;
}

.section-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: bottom;
    margin-bottom: 40px;
}


/* --- section1 product-categories ---- */

.product-categories {
    padding-top: 120px;
    padding-bottom: 120px;
}

.category-card img {
    object-fit: cover;
    width: 300px;
    height: auto;
}

.section-content h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

}

.section-content h4 {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

/* ----------------- footer -------------------*/
.footer {
    border-top-width: 1px;
    background: #F6F6F8;
    padding-top: 120px;
    padding-bottom: 120px;
}

.footer-top {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.footer-column {
    flex: 1;
    margin-right: 20px;
}

.footer-ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #333;
    text-decoration: none;
}


.newsletter p {
    margin-bottom: 15px;
    font-size: 12px;
}

.newsletter .input-group {
    border: 1px solid #CDD0DD;
    width: 420px;
    height: 54px;
    border-width: 1px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    background: #F6F6F8;

}

.input-email {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    font-size: 14px;
    color: #333;
    padding: 0 8px;
}

.icon-left,
.icon-right {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.icon-right {
    margin-left: 8px;
}


.payment-logo {
    width: 208px;
    height: 21px;

}


.footer-bottom {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    border-top-width: 1px;
    background-color: #FFFFFF;
    height: 59px;
}

.footer-bottom ul li a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0%;
}

.footer-bottom a {
    color: #333;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0%;
}